# Virtual environment
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# Raw datasets
data/raw/*
!data/raw/.gitkeep

# Processed datasets
data/processed/*
!data/processed/.gitkeep

# Trained models
models/*
!models/.gitkeep

# Results
results/*
!results/.gitkeep

# Environment / secrets
.env
*.env
kaggle.json

# IDE
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log